.image-list{
    position: relative;
    top: 100px;
    left: 300px;
}
.image-container{
    position: absolute;

}

.image-nono{
    position: relative;
    top: 500px;
}
ul{ 
    list-style-type: none;
    position: relative;
    top: 20px;
    left: 20px;
    font-size: 25px;
    color: white;
    font-family: Arial, sans-serif;
}
