.image-container{
    position: absolute;
}

.nest-pics-1{
    position: relative;
    top: 200px;
    left: 200px;
}

.image-next{
    position: relative;
    top:680px;
}
ul{ 
    list-style-type: none;
    position: relative;
    top: -100px;
    left: 20px;
    font-size: 25px;
    color: white;
    font-family: Arial, sans-serif;
}
