.video, .image-list{
    position: relative;
    top: 0px;
    margin: 50px;
    
}

.text{
    position:relative;
    left: 50px;
    list-style-type: none;
    font-family: Arial, sans-serif;
}

 #grad1 {
  left: 50px;
  height: 1600px;
  background-position: right bottom, left top;
  background-image: linear-gradient(to bottom right,#E9E7E3, #999599, #F9F9F9, #8D888B, #B5B5B6);
}